body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f7fa;
}

header {
  text-align: center;
  margin: 20px;
  font-size: 24px;
  color: #333;
}

.form-step {
  display: none; /* Ocultar todos los formularios inicialmente */
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 650px;
  margin: 0 auto 30px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-step.active {
  display: block; /* Mostrar el formulario activo */
}

.steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0;
}

.step {
  text-align: center;
  flex: 1;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}

.step-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 auto;
  line-height: 50px;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease;
}

.step.active .step-circle {
  background-color: #41e897;
}

.step:hover .step-circle {
  background-color: #0084ff;
}

.step p {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.form-container input,
.form-container select,
.form-container button {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-container button {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border: none;
}

.form-container button:hover {
  background-color: #41e897;
}

h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #333;
}

label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #555;
}

.form-container {
  padding: 20px;
  margin-top: 20px;
}

.form-container input,
.form-container select {
  font-size: 16px;
  padding: 12px;
  margin: 10px 0;
  width: 100%;
}

.form-container button {
  background-color: #41e897;
  color: white;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  width: 100%;
}

.form-container button:hover {
  background-color: #5be975;
}

/*  reglas cajas   */

footer {
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
  margin-top: 30px;
}

.dashboard-btn {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 10px 20px;
  background-color: #41e897;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 30px; /* Ajusta este valor según el nivel de redondez deseado */
}
